dsRSS_connect.sh
__pycache__/
discord.py/
inqBot/utils/__pycache__/
inqBot/__pycache__/
inqBot/config.json
inqBot/deprecated/
inqBot/constants.py
inqBot/utils/util_logs/
Scripts/
Lib/
pyvenv.cfg
.idea
